[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "==2.14.1"
pytest = "==6.2.5"
pytest-cov = "==2.12.1"
pytest-mock = "==3.6.1"
bandit = "==1.7.0"
isort = "==5.9.3"
black = "==21.8b0"
flake8 = "==3.9.2"
pylint = "==2.10.2"

[packages]
loguru = "==0.5.3"
uvicorn = "==0.15.0"
fastapi = "==0.68.1"
requests = "==2.26.0"
aiofiles = "==0.7.0"
lxml = "==4.6.3"

[requires]
python_version = "3.8"
